<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dollar" href="/tabs/dollar">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>dollar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="euro" href="/tabs/euro">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>euro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="libra" href="/tabs/libra">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>libra</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
